# ==========================
# Python & Bytecode
# ==========================
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Database
*.db
*.sqlite3
backend/nexora.db

# Storage & Uploads
backend/storage/
uploads/

# Vector DB Index
faiss_index.bin
faiss_metadata.json

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log